/* Обнуление */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-------------------------------------*/
body {
  background-image: linear-gradient(to right, #4ad4aa ,#6ae593, #4ad4aa);  
}

.container {
  max-width: 525px;
  margin: auto;
}

h1 {
  margin-top: 5px;
  font-family: 'Kaushan Script', cursive;
  font-size: 50px;
  font-weight: bold;
}

.input__toggle-all {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}

.p-input {
  font-size: 16px;
  margin-top: 5px;
  margin-left: 50px; 
}

.counter {
  font-size: 16px;
}

.btn-group {
  /* margin: 20px 0 20px 133px; */
  margin-top: 15px;
  margin-left: 133px;
  margin-bottom: 10px;
}

.d-inline-flex {
  padding: 15px 15px 0 15px;
  border: 2px solid #eee;
}


.list__content {
  height: 300px;
  margin-top: 20px;
}

.align-middle {
  background-color: #eee;
  border: 1px solid #888c89;
}
  
.list__p {
  font-size: 18px;
  margin-top: 2px;
  margin-left: 10px;
  min-width: 450px;
}

.list__p_completed {
  text-decoration: line-through;
  font-family: 'Noto Sans JP', 'Montserrat', sans-serif;
  color: #878485;
}

.fa-plus-square {
  color: #098524;
}

.fa-circle-thin {
  color: #888c89;
}

.fa-check-circle {
  color:  #098524;
}

.list__pagination {
  margin: 15px 0 15px 0;
}


.list__pagination li.active {
  cursor: pointer;
  color:  #ebe8e4;
	background-color: #344;
	border: 1px solid #888c89;
}

.footer__content {
  max-width: 150px;
  margin: auto;
}

.edit {
  width: 505px;
  height: 40px;
}